/*<!--ADICIONAR ITNERATIVIDADE COM MODO CLARO E ESCURO (:root no CSS)-->*/
:root{
    --verde: #adff2f;
    --branco: #ffffff;
    --preto: #000000;
}
* {     /* '*' é seletor universal e se aplica a todos elementos da pag*/
    color:var(--fontColor);
    font-family: helvética;
}

.modo-claro{
    --bg:var(--verde);
    --fontColor: var(--preto);
    --btnFontColor: var(--branco);
    --btnBg: var(--preto);
}

.modo-dark{
    --bg: var(--preto);
    --fontColor: var(--verde);
    --btnFontColor: var(--preto);
    --btnBg: var(--verde);
}
/*##################     SELETOR DE TEMAS     ##################*/

body {
    background-color: var(--bg);
}
    
ul {
font-family: helvética;
}

li {
    list-style: circle;
}
    
.list {
list-style: square;
}

.a{
    cursor: pointer;
}
/*--------------CONTEINER----------------------*/
.conteiner{
    background-color: #1E1E2D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 530px;
    width: 1000px;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    
}
.conteiner .content{      
    width: 50%;
    height: 100%;
    background-color: aqua;
    background-image: url('./assets/landscape.png') no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;
}

.conteiner .login-block{
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   height: 100%;
   background-color: red;
}

.conteiner .img-block{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

/*----------- BOTAO DE SWITCH THEME -----------*/
.btn{
    color:var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn{
    position: absolute;
    bottom: 20px;
    left: 60px;
    height: 60px;
    width: 130px;
    border-radius: 30px;
    border: white;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:hover{
    cursor: pointer;
    background-color: wheat;
    color: #000000;
}
.btn:focus{ outline-style: none;} /*tira o contorno retangular qnd é selecionado*/