/*<!--ADICIONAR ITNERATIVIDADE COM MODO CLARO E ESCURO (:root no CSS)-->*/
:root{
    --verde: #adff2f;
    --branco: #ffffff;
    --preto: #000000;
}
* {     /* '*' é seletor universal e se aplica a todos elementos da pag*/
    color:var(--fontColor);
    font-family: helvética;
}

.modo-claro{
    --bg:var(--verde);
    --fontColor: var(--preto);
    --btnFontColor: var(--branco);
    --btnBg: var(--preto);
}

.modo-dark{
    --bg: var(--preto);
    --fontColor: var(--verde);
    --btnFontColor: var(--preto);
    --btnBg: var(--verde);
}
/*##################     SELETOR DE TEMAS     ##################*/

body {
    background-color: var(--bg);
}
    
ul {
font-family: helvética;
}

li {
    list-style: circle;
}
    
.list {
list-style: square;
}

.btn{
    color:var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn{
    position: absolute;
    left: 250px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: white;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:hover{
    cursor: pointer;
    background-color: wheat;
    color: #000000;
}
.btn:focus{ outline-style: none;} /*tira o contorno retangular qnd é selecionado*/